.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  border-bottom-left-radius: 10px  ;
  border-bottom-right-radius: 10px  ;
  padding: 10px;
  outline-style:solid;
}

.navbar__title {
  color: #252525;
  font-size: 18px;
  margin-left: 25px;
}

.navbar__button {
  background-color: #000000;
  color: #eeeeee;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 25px;
  border-radius: 10px;
}

.navbar__button:hover {
  background-color: #555;
}

.card {
  
  width: 475px;
  background-color: #efefef;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  margin: 2.5rem auto;
}

.card-header {
  background-color: #5b5a5a83;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* .card-title {
  color: #fff;
  font-size: 20px;
  margin: 0;
} */

.card-body {
  padding: 20px;
}

.card-description {
  color: #333;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
}


.tic {
  color:var(--xRed);
}

.tac {
  color: var(--oBlue);
}

.toe {
  color: rgb(0, 0, 0);
}
.btn {
  background-color: black;
  color: white;
  padding: 10px;
  box-shadow: 0px 0px 0px #888;
  border-radius: 10px;
  margin: 10px;
}

.winner-label{
  font-weight: bold;
  font-size: 20px ;
}

.red {
  color:var(--xRed);
}

.blue {
  color: var(--oBlue);
}

.tie-label{
  font-weight: bold;
  font-size: 20px ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
